body {
    margin: 0;
    font-family: "Nunito";
    background-color: #111111;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
  
  
  @font-face {
    font-family: 'b';
    src: url('font/Manrope_bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'r';
    src: url('font/Manrope_regular.ttf') format('truetype');
  }
  
  
  
  /*----------------------------------------------------------------*/
  /*--------------Настройка цвета сколлера страницы-----------------*/
  /*----------------------------------------------------------------*/
  
  
  
  /* Для Firefox */
  body::-webkit-scrollbar {
    width: 11px;
    background-color: #000000;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #d87700;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #000000;
  }
  
  body::-webkit-scrollbar-thumb {
    max-width: 10px;
    background-color: #d87700;
  }
  
  
  * {
    -webkit-tap-highlight-color: transparent;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
  }

  :root {
    --color-glass: rgba(73, 73, 73, 0.35);
  }


  .gallery {
    position: fixed;
    display: flex;
    background-color: #1f1f1f;
    margin-top: -50px;
    height: 111%;
    width: 100%;
    z-index: 999;
    flex-direction: column;
}

  .image-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
  }
  
  .column {

    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 10px;
    transform: rotate(-35deg);
    transform-origin: left-bottom;
  }
  .column2 {

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
    transform: rotate(-35deg);
    transform-origin: left-bottom;
  }

  .column img, .column2 img {
    width: auto; /* Задаем ширину картинки */
    height: 290px; /* Оставляем высоту автоматической */
}



  h1 {
    position: fixed;
    font-size: 22px;
    color: darkorange;
    left: 50%;
    transform: translateX(-50%);
    top: 455px;
    margin-top: 0;
    text-align: center;
    white-space: nowrap;
  }

  .register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: transparent;
    height: 300px;
    width: 240px;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
    justify-items: end;
    z-index: 1000;
    background-color: #1f1f1f;
    border-radius: 12px;
  }

  .btn-registr {
    margin-top: 12px;
    background-color: #d87700;
    color: #e4e4e4;
    width: 150px;
    height: 30px;
    border-radius: 5px;
  }



  .auth {
    position: absolute;
    top: 50%;
    left: 50.3%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: transparent;
    height: 300px;
    width: 240px;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
    justify-items: end;
    z-index: 1000;
    background-color: #1f1f1f;
    border-radius: 12px;
  }


  .register-button {
    margin-right: 0px;
    width: 100px;
    height: 30px;
    background-color: #242424;
    color: #FF8800;
    border: 1px solid #1f1f1f;
    border-radius: 4px;
}

.auth-button {
  margin-top: -30px;
  margin-right: 106px;
  width: 100px;
  height: 30px;
  background-color: #242424;
  color: #ececec;
  border: 1px solid #242424;
  border-radius: 4px;
  
}

.auth-button2 {
  margin-top: 15px;
  width: 200px;
  height: 30px;
  background-color: #242424;
  color: #ececec;
  border: 1px solid #242424;
  border-radius: 4px;
  color: #FF8800;
}

.lable {
  display: grid;
  margin-right: 9px;
  width: 200px;
  border-radius: 12px;
  color: #FF8800;
}

.error-block {
  position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    background-color: var(--color-glass);
    border-radius: 5px;
    color: #ff8800;
    display: flex;
    text-align: center;
    z-index: 9000;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
  padding: 5px 10px;
  height: 30px;
  background-color: #242424;
  border: 1px solid #1f1f1f;
  border-radius: 6px;
  color: #FF8800; /* set the initial text color */
}

input[type="text"]:focus, input[type="text"]:valid {
  color: #ececec; /* change text color on focus or when input is valid */
}

input[type="password"] {
  padding: 5px 10px;
  height: 30px;
  background-color: #242424;
  border: 1px solid #1f1f1f;
  border-radius: 6px;
}

input[type="password"]:focus, input[type="text"]:valid {
  color: #ececec; /* change text color on focus or when input is valid */
}


.auth-form {
  justify-items: end;
}


.hidden {
  display: none;
}





.card-opened {
  display: none;
}

.card-opened.hidden {
  position: relative;
  display: block;
  background-color: #111111;
  height: 100%;
  top: 0px;
  width: 100%;
  z-index: 102;
}

.card-opened:not(.hidden) {
  display: none;
}
  



  /*----------------------------------------------------------------*/
  /*-----------------Настройка навигацонных кнопок------------------*/
  /*----------------------------------------------------------------*/


  .backarrow {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 10px;
    left: 8px;
    background-color: #1f1f1f;
    border-radius: 8px;
  }

  .backarrow ion-icon {
    padding: 6px;
    color: #cccccc;
    font-size: 1.3em;
    transition: 0.8s;
  }

  






  .backimage {
    position: relative;
    width: 100%; /* Set the desired width */
    height: 320px; /* Set the desired height */
    top: 50px;
    overflow: hidden;
  }

  .backimage img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8; /* Set the desired opacity */
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .name {
    position: absolute;
    display: flex;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    min-width: 200px;
    max-width: 500px;
}

h {
  justify-content: center;
  text-align: center;
  color: #cccccc;
  padding: -13px;
  overflow: hidden;
  line-height: 14px;
}


  /*----------------------------------------------------------------*/
  /*--------------------Настройка верхнего меню---------------------*/
  /*----------------------------------------------------------------*/

  .upnavbarmain {
    position: fixed;
    display: block;
    background-color: #111111;
    height: 50px;
    width: 100%;
    z-index: 100;
    top: 0;
}

.search-container {
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 51px;
    justify-content: center;
    align-items: center;
}

input[type="search"] {
  padding: 5px 10px;
    width: 200px;
    height: 31px;
    background-color: #1f1f1f;
    border: 1px solid #1f1f1f;
    border-radius: 6px;
}


  input[type="search"]:focus {
    outline: none;
    color: #ececec;
    border-color: #d87700;
  }

  input[type="search"]:focus, input[type="search"]:valid {
    color: #ececec; /* change text color on focus or when input is valid */
  }

  /*----------------------------------------------------------------*/
  /*----------------Настройка кнопки фильтров меню------------------*/
  /*----------------------------------------------------------------*/



  .upnavbarbtn {
    display: block;
    width: 460px;
    height: 50px;
    color: white;
    position: fixed;
    left: 50%;
    top: -15px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  .filtr {
    position: fixed;
    display: flex;
    height: 51px;
    width: 0px;
    bottom: -47px;
    left: 310px;
    justify-content: flex-start;
    align-items: flex-start;
}


  /*----------------------------------------------------------------*/
  /*--------------------Настройка фильтров меню---------------------*/
  /*----------------------------------------------------------------*/

  .filter-main {
    width: 250px;
    height: 500px;
    background-color: #1f1f1f;
    color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  .filter-backround {
    width: 20000px;
    height: 20000px;
    background-color: var(--color-glass);
    backdrop-filter: blur(12px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .closebtn {
    position: fixed;
    display: block;
    left: 93.2%;
    top: 95.6%;
    height: 31px;
    transform: translate(-50%, -50%);
}

  





  .fbtna {
    color: #808080;
    height: 27px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    padding: 6px;
    margin-top: 5px;
    border: 1px solid #414141;
  }
  
  .fbtna.active {
    color: #ffffff; /* Оранжевый цвет для активного фильтра */
    height: 27px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    padding: 6px;
    margin-top: 5px;
    border: 1px solid #FFA500;
  }

  .sbtna {
    color: #808080;
    height: 27px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    padding: 6px;
    margin-top: 5px;
    border: 1px solid #414141;
  }
  
  .sbtna.active {
    color: #FFA500; /* Оранжевый цвет для активного фильтра */
    height: 27px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    padding: 6px;
    margin-top: 5px;
    border: 1px solid #FFA500;
  }
  
  .card {
    display: none; /* Скрываем все блоки по умолчанию */
  }
  
  .card.visible {
    display: block; /* Отображаем блоки, прошедшие фильтрацию */
  }






  /*----------------------------------------------------------------*/
  /*--------------------Настройка нижнего меню----------------------*/
  /*----------------------------------------------------------------*/

  .downnavbarmain {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: transparent;
    height: 40px;
    width: 100%;
    bottom: 8px;
    z-index: 10;
  }

  .downnavbarmainbutton {
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 40px;
    width: 100%;

    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
  }

  .downnavbarmainbuttonblur {
    position: absolute;
    display: flex;
    margin: 0 auto;
    height: 40px;
    width: 90%;
    min-width: 200px;
    max-width: 400px;
    background-color: #242424;
    opacity: 0.9;
    background-color: var(--color-glass);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }

  
ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
  border-radius: 10px;
  padding: 6px;
  z-index: 101;
  }
  
  ul li {
    list-style: none;
    z-index: 101;
  }
  
  ul li  {
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3px;
    width: 60px;
    height: 23px;
    z-index: 101;
    color: #cccccc;
  }
  
  ul li  ion-icon {
    font-size: 1.1em;
    transition: 0.8s;
  }
  

  ul li.active  ion-icon {
    color: #313131;
  }




  
  .span {
    position: absolute;
    margin-top: 33px;
    content: '';
    height: 2px;
    width: 5px;
    background-color: #6e6e6e;
    transition: 0.5s;
    border-radius: 5px;
  }


  /*----------------------------------------------------------------*/
  /*---------------Настройка кнопок фильтра страниц-----------------*/
  /*----------------------------------------------------------------*/


  .filtrcard {
    position: relative;
    margin-top: 47px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
    height: 43px;
    z-index: 99;
    font-size: 14px;
    color: #cccccc;
  }

  .filtr-btn {
    position: relative;
    display: flex;
    height: 28px;
    width: 100px;
    background-color: #1f1f1f;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    border: 1px solid transparent;
  }
  
  .filtr-btn.active {
    border: 1px solid #d87700;
  }


  .close-btn {
    position: relative;
    display: flex;
    height: 35px;
    width: 35px;
    background-color: #37373787;
    justify-content: center;
    align-items: center;
    border-radius: 10px 1px 10px 1px;
    border: 1px solid transparent;
}
  
  .close-btn.active {
    border: 1px solid #d87700;
  }


  /*----------------------------------------------------------------*/
  /*---------Настройка карточек и выборки серий с сезоном-----------*/
  /*----------------------------------------------------------------*/



  .list-main {
    width: 250px;
    height: 500px;
    background-color: #1f1f1f;
    color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  .list-backround {
    width: 20000px;
    height: 20000px;
    background-color: var(--color-glass);
    backdrop-filter: blur(12px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  .listclosebtn {
    position: fixed;
    display: block;
    left: 91%;
    bottom: -8px;
    height: 31px;
    transform: translate(-50%, -50%);
  }

  .listclose-btn {
    position: relative;
    display: flex;
    height: 35px;
    width: 45px;
    background-color: #37373787;
    justify-content: center;
    align-items: center;
    border-radius: 10px 1px 10px 1px;
    border: 1px solid transparent;
  }

  
  .lbtna {
    color: #808080;
    height: 27px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    padding: 6px;
    margin-top: 5px;
    border: 1px solid #414141;
  }
  
  .lbtna.active {
    color: #FFA500; /* Оранжевый цвет для активного фильтра */
    height: 27px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    padding: 6px;
    margin-top: 5px;
  }
  
  .listclose-btn.active {
    color: #FFA500; /* Оранжевый цвет для активного фильтра */
  }

  .list {
    display: none; /* Скрываем по умолчанию */
  }
  
  .list.visible {
    display: block; /* Показываем при добавлении класса "visible" */
  }
  
  .listseasons {
    color: #808080;
    height: 27px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 15px;
}

  /*----------------------------------------------------------------*/
  /*----------------------Настройка карточек------------------------*/
  /*----------------------------------------------------------------*/

.maincardvishli{
    margin-top: 4px;
}

.cards{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    padding: 10px;
    grid-gap: 10px;
}

.rating {
  position: absolute;
  display: flex;
  top: 6px;
  right: 5px;
  background-color: var(--color-glass);
  backdrop-filter: blur(12px);
  width: 37px;
  justify-content: center;
  border-radius: 9px;
}

.ml-rating {
  color: #777;
  font-size: clamp(0.4rem, 0.3vw + 0.7rem, 1rem);
  font-family: b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}



.rating .ml-rating::after {
  content: attr(data-rating); /* Устанавливает содержание элемента как значение data-rating */
}

.rating .ml-rating[data-rating^="3"],
.rating .ml-rating[data-rating^="3.1"],
.rating .ml-rating[data-rating^="3.2"],
.rating .ml-rating[data-rating^="3.3"],
.rating .ml-rating[data-rating^="3.4"],
.rating .ml-rating[data-rating^="3.5"] {
  color: #972503;
}

.rating .ml-rating[data-rating^="3.6"],
.rating .ml-rating[data-rating^="3.7"],
.rating .ml-rating[data-rating^="3.8"],
.rating .ml-rating[data-rating^="3.9"] {
  color: #bb2c01;
}

.rating .ml-rating[data-rating^="4"],
.rating .ml-rating[data-rating^="4.1"],
.rating .ml-rating[data-rating^="4.2"],
.rating .ml-rating[data-rating^="4.3"],
.rating .ml-rating[data-rating^="4.4"] {
  color: #ffcc00;
}

.rating .ml-rating[data-rating^="4.5"],
.rating .ml-rating[data-rating^="4.6"],
.rating .ml-rating[data-rating^="4.7"],
.rating .ml-rating[data-rating^="4.8"],
.rating .ml-rating[data-rating^="4.9"],
.rating .ml-rating[data-rating^="5"] {
  color: #8fe700;
}

.histor{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
  padding: 10px;
  grid-gap: 10px;
}

.card{
    border-radius: 6px;
}
.containercard{
    position: relative;  
}

img{
    object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 960px;
    display: block;
    border-radius: 8px;
}

.containercard:after{
    object-fit: cover;
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px 6px 0 0;
    opacity: 0.7;
}

.details{
    padding: 6px 10px;
}

.details>h3{
    color: #cccccc;
    font-size: clamp(0.6rem, 0.8vw + 0.3rem, 1rem);
    margin: 1px 0 2px 0;
}




.maincardnovie {
  position: relative;

}

.maincardtest {
  position: relative;

}

.main {
  position: relative;
}





.addtomain {
  width: 100%;
    height: 103%;
    background-color: var(--color-glass);
    backdrop-filter: blur(12px);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}


.closebtnlist {
  position: absolute;
  display: block;
  left: 50%;
  top: 435px;
  height: 31px;
  margin-top: -100px;
  transform: translate(-50%, -50%);
}


.add {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 10px;
  right: 10px;
  background-color: #1f1f1f;
  border-radius: 8px;
  z-index: 9;
}

.add ion-icon {
  padding: 6px;
  color: #cccccc;
  font-size: 1.3em;
  transition: 0.8s;
}







mm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
  border-radius: 10px;
  padding: 6px;
  z-index: 101;
  }
  
  mm li {
    list-style: none;
    z-index: 101;
  }
  
  mm li  {
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3px;
    width: 60px;
    height: 23px;
    z-index: 101;
    color: #cccccc;
  }
  
  mm li  ion-icon {
    font-size: 1.1em;
    transition: 0.8s;
  }
  

  mm li.activetis  ion-icon {
    color: #d87700;
  }


  .id_base {
    position: fixed;
    background-color: antiquewhite;
  }



@media (orientation: landscape) {

  .filter-main {
    height: 216px;
    width: 580px;
  }

  .list-main {
    height: 216px;
    width: 580px;
  }

  .listclosebtn {
    position: fixed;
    display: block;
    left: 96%;
    bottom: -8px;
    height: 31px;
    transform: translate(-50%, -50%);
}

  .listclose-btn {
    position: relative;
    display: flex;
    height: 35px;
    width: 45px;
    background-color: #37373787;
    justify-content: center;
    align-items: center;
    border-radius: 10px 1px 10px 1px;
    border: 1px solid transparent;
}

.closebtn {
  position: relative;
  display: block;
  left: 97.5%;
  top: 60%;
  height: 31px;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: relative;
  display: flex;
  height: 35px;
  width: 45px;
  background-color: #37373787;
  justify-content: center;
  align-items: center;
  border-radius: 10px 1px 10px 1px;
  border: 1px solid transparent;
}

}


@media (max-width:768px) {
    .cards {
        grid-template-columns: repeat(auto-fill,minmax(125px,1fr));
    }

    .details>h3{
      color: #cccccc;
      font-size: clamp(0.6rem, 0.8vw + 0.55rem, 1rem);
      margin: 1px 0 2px 0;
  }
}

@media only screen and (min-width: 280px) and (orientation: landscape) {

  .backimage {
    top: 10px;
  }

  .backarrow {
    z-index: 10;
  }

  .name {
    left: 65%;
  }

  .backimage img{
    left: 182px;
  }

  .add {
    left: 8px;
    top: 50px;
  }
}

@media (max-width:500px) {
    .cards {
        grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
    }

    .details>h3{
      color: #cccccc;
      font-size: clamp(0.6rem, 0.8vw + 0.6rem, 1rem);
      margin: 1px 0 2px 0;
  }
}

@media (max-width:400px) {
  .cards {
      grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
  }
}


@media (max-width:300px) {
    .cards {
        grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
    }

    .details>h3{
      color: #cccccc;
      font-size: clamp(0.6rem, 0.8vw + 0.7rem, 1rem);
      margin: 1px 0 2px 0;
  }
}

@media (max-width:280px){
    .cards {
        grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    }

    .details>h3{
      color: #cccccc;
      font-size: clamp(0.6rem, 0.8vw + 0.7rem, 1rem);
      margin: 1px 0 2px 0;
  }
}